@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
}
body{
	margin: 0;
  	padding: 0;
  	font-family: 'Open Sans', sans-serif;
  	width:100%;
  	height: 100%;
}

/* mobile login */
.controller-login {	
	background-image : url(../images/bg_01.jpg);
   background-color: #eeeeee;
   margin: 0 0 0 0;
   min-width: 320px;
}

.controller-login .login_logo {
	/* max-width:580px; */
	/* max-height:110px; */
	padding-top: 17.94%;
	/* margin: 0 5.46% 0 5.46%; */
	
}
.controller-login .login_logo .logo_img{
	
	margin: 0 10.53% 0 10.53%;
 	/* background: url(../images/mobile_login_logo.png) no-repeat; */
}
.controller-login .login_logo .logo_img img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
 	/* background: url(../images/mobile_login_logo.png) no-repeat; */
}

.controller-login .login-holder {
  padding-top: 5.95%;
  margin: 0 5.46% 0 5.46%;
 /*  max-width:580px;
  max-height:400px; */
  /* width: auto; */
  /* padding-bottom: 20px; */
}

.controller-login .login-holder .m-login {
  position: relative;
  width: 100%;

  /*padding: 50px 0px 30px;*/
}

.m-login .email {	
	border: none;	
	width:100%;
	max-height:80px;
	background-color:#fff;
	font-size: 25px;
	padding-top:11px;
	padding-bottom:11px;
}

.m-login .password {	
	margin-top: 3.0%;
	border: none;	
	width:100%;
	max-height:80px;
	background-color:#fff;
	font-size: 25px;
	padding-top:11px;
	padding-bottom:11px;
}

.m-login .sign_btn {	
	margin-top: 8%;
	border: none;	
	width:100%;
	max-height:80px;
	font-size: 25px;
	padding-top:11px;
	padding-bottom:11px;
	background-color:#4d637b;
}

.m-login .sign_btn a{
	color:#fff;
	font-size: 30px;
	text-decoration: none;
}
.m-login .login_logo {
	padding-left: 
}

.m-login .check_auto {	
	/* margin-left:45px; */
	margin-top:6.25%;
	max-height: 80px;
}
.m-login .check_auto .check_left{	
	float: left;
	width: 48%;
}
.m-login .check_auto .split{
	float: left;
}
.m-login .check_auto .check_right{	
	float: left;
	width: 48%;
}

.m-login .check_auto .check_right a{	
	text-decoration:none;
}

.m-login .check_auto span{	
	font-size:15px;
}

.m-login font {	
	float:left;
}

.m-login .id_lost {
	margin-left:3.51%;
	font-size:16px;
	margin-top: 10px;
}

.m-login .id_lost a {
	color:#29b3e1;
	text-decoration:underline;
}

.m-login .id_lost a:hover {
	color:#4d637b;
}

/* @media only screen and (max-width: 480px) {
  .controller-login {
    padding-top: 18%;
  }
  .controller-login .login-holder {
    width: auto;
    margin: 0 5px 5px;
  }
  .controller-login .login-holder .m-login {
    padding: 30px;
  }
} */

/* -------------------------------------------------------------- modal 로딩 처리 */
.modal_load {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
/*                 url('../mobile/images/loading.GIF')  */
				url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

div.loading {
    overflow: hidden;   
}

div.loading .modal_load {
    display: block;
}

/* -------------------------------------------------------------- * 처리  */
.required_red {
	color: red;
}
