<html>
<meta charset="UTF-8">
<head></head>
<body>
    <h4>Танд энэ өдрийн мэнд хүргэе!</h4>
	<br>
	<br>
	<p style="height: 12px;font-size: 14px;">Эрхэм хэрэглэгч firsname lastname таны үйлчилгээний гэрээг хавсралтаар илгээлээ.</p>
	<br>
	<p style="height: 12px;font-size: 14px;">Нэмэлт мэдээллийг</p>
	<p style="height: 12px;font-size: 14px;">info@unitel.mn болон дараах дугаараас лавлана уу.</p>
	<br>
	<p style="height: 12px;font-size: 14px;">Лавлах төв:</p>
	<p style="height: 12px;font-size: 14px;">Юнител-1414</p>
	<p style="height: 12px;font-size: 14px;">Юнивишн-1424</p>
	<p style="height: 12px;font-size: 14px;">Бусад оператор-77778888, 77778080 /төлбөртэй/</p>
	<br>
	<br>
	<p style="height: 12px;font-size: 14px;">Хүндэтгэсэн,</p>
	<p style="height: 12px;font-size: 14px;">Юнител групп</p>
	<br>
	<p style="height: 12px;font-size: 14px;">Энэхүү мэдээлэл нь Юнител группын автомат системээс илгээгдэж байгаа тул хариу хүлээн авах боломжгүй юм.</p>
</body>
<html>